
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?


Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


.vscode/
*.code-workspace



*.sublime-project
*.sublime-workspace

*.swp
*.swo
*~
.netrwhist

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp




/vendor/
composer.phar
composer.lock
.composer/

.phpstorm.meta.php

.php_cs.cache
.php-cs-fixer.cache

.phpunit.result.cache
phpunit.xml
/tests/_output/
/tests/_support/_generated




/system/logs/
/application/logs/
/application/cache/

# 
/sites/*/files/
/sites/*/private/
/sites/*/settings.php
/sites/*/settings.local.php

/app/etc/local.xml
/media/
/var/
/sitemap.xml
/pub/media/

*.log
*.tmp
*.temp
logs/
tmp/
temp/
error_log
access_log

php_error.log
php_errors.log

cache/
/cache/
.cache/

sessions/
/sessions/

*.php~
*.phps

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.backup
.env.save

config/database.php
database.php
db.php
dbconfig.php

*.pem
*.key
*.crt
*.p12
*.pfx
secrets.json
config.json
credentials.json

*.bak
*.backup
*.old
*.orig
*.save
*.sql
*.dump

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz



node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity

build/
dist/
out/

coverage/
*.lcov
clover.xml

composer.lock
package-lock.json
yarn.lock

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db


tags
TAGS
.tags
.tags_sorted_by_file


.ctags

*.so

zend_extension_manager.ini
zend_extension_ts.ini

pear.ini


/tests/tmp/
/tests/logs/
/tests/cache/

*.lock

.sass-cache/
*.css.map
*.sass.map
*.scss.map

*.swp
*.swo
*~
.project
.buildpath
.settings/
nbproject/

